<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="index.asp" />
            </files>
        </defaultDocument>
    </system.webServer>
    <connectionStrings>
        <remove name="LocalMySqlServer" />
        <remove name="LocalSqlServer" />
        <add connectionString="Server=W10B21LF82;Database=db_asplearning;User ID=root;Password=admin" name="LocalSqlServer" providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>
