.body{
    padding-top: 50px;
}

.access_denied{
    text-align: center;
}

.access_denied .container{
    width: 35%;
}

.access_denied p{
    text-align: center;
    background-color: #800000;
    color: white;
    padding: 3px;
}

.access_denied .content{
    border: solid 1px #800000;
    padding: 0px 0px 10px;
}

.access_denied .content a{
    font-size: 14px;
} 

.access_denied .content img{
    margin-right: 10px;
    padding: 0px 0px 5px;
}