.header{
    height: 50px;
}
.header ul{
    display: inline !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.header small{
    text-transform: none;
}

.header li{
    display: inline;
    font-size: 18px;
    padding: 10px;
}

.header a{
    color: white;
    font-size: 14px;
    text-transform: uppercase;
}

.header a:hover{
    color: rgb(223, 223, 223) !important;
    text-decoration: none !important;
}

.header form{
    margin-bottom: 0;
}

.header .header-li-form{
    display: inline;
}

.header .header-li-form button{
    border: none;
    background: none;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
}

.header .header-li-form button:hover{
    color: rgb(223, 223, 223) !important;
    text-decoration: none !important;
    cursor: pointer;
}

.header small{
    color: white;
}

.header small:nth-of-type(1){
    margin-left: 5px;
}