.body{
    margin: 0;
}

.home{
    padding-top: 50px;
}
.home .board-title{
    text-align: center;
    background-color: #006480;
    color: white;
    padding: 3px;
}

.home .board-content th{
    padding: 7px;
    text-align: center;    
    font-size: 16px;
}

.home .board-content td{
    padding: 7px;
    text-align: center;
    font-weight: bold;
}