.registration{
    padding-top: 50px;
}
.registration .registration-title{
    text-align: center;
    background-color: #006480;
    color: white;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
}

.registration .registration-content label{
    font-size: 14px;
    margin-top: 10px;
    font-weight: bold;
}

.registration .registration-content input, select, textarea{
    width: 100%;
}

.registration .registration-content textarea{
    height: 400px;
    resize: none;
}

.registration .registration-content button{
    width: 100%;
    margin-top: 20px;
}